/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General */

body {
  /* change text color */
  color: #333;
  /* Customize font family to Dosis */
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
}

/* Add padding to sections */
section {
  padding: 10px;
  height: 100vh;
}

/* Change the font size, weight, and color of all headings */
h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: #363636;
}

li {
  list-style: none;
}

.highlight {
  height: 2px;
  width: 3.5rem;
  background: #ffbf00;
  display: block;
  margin: 0 auto 2rem auto;
}

.gray {
  background-color: #e5e4e2;
}

.yellow {
  background-color: #ffbf00;
}

/* header */
header {
  background-color: #000080;
  height: 12vh;
}

/* Navigation bar */
nav {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 50vw;
}

nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

nav a:hover {
  color: #ffbf00;
}

/* About section */
#about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#card {
  max-width: 80vw;
  /* width: 60vw; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#card p {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
}

img {
  height: 370px;
  border-radius: 50%;
  margin-right: 18px;
}

/* Experience section */
.section-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-style-h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

#experience p {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.positions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.position {
  width: 90vw;
  background-color: #e5e4e2;
  border-radius: 5px;
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#gen-skills,
#tech-skills,
#lang-skills {
  margin-bottom: 20px;
}

.styled-block {
  margin-top: 15px;
}

.styled-block li {
  display: flex;
  display: inline;
  border: 2px #00008b solid;
  padding: 7px;
  margin-right: 10px;
  border-radius: 10%;
}

.styled-block li:hover {
  background: #ffbf008e;
  cursor: crosshair;
}

/* Projects section */
#projects p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

#projects li {
  margin-bottom: 7px;
}

.enlarge {
  text-decoration: none;
  color: #333;
}

.enlarge:hover {
  color: #00008b;
  font-size: 1.3rem;
}

/* Contact section */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.text-inputs {
  display: grid;
  grid-template-areas:
    "name email"
    "message message";
  gap: 1rem;
  width: 80vw;
}

/* grid areas */
#name {
  grid-area: name;
  padding: 10px;
}

#email {
  grid-area: email;
  padding: 10px;
}

#message {
  grid-area: message;
  height: 150px;
  padding: 10px;
}

#submit-btn {
  margin-top: 1.2rem;
  padding: 10px 30px;
  border-radius: 5%;
  border: solid 1px #333;
}
#submit-btn:hover {
  background-color: #00008b;
  color: #fff;
  cursor: pointer;
}

/* Messages section */
#messages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 50vh;
}

/* .hide {
  display: none;
}

.show {
  display: block;
} */

#messages h2 {
  margin-bottom: 10px;
}

#messages li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
}

.messageLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-btn {
  padding: 10px 20px;
  border-radius: 5%;
  border: none;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
}
.remove-btn:hover {
  color: #00008b;
}

/* footer */
footer {
  background-color: #000080;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #fff;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.social .fab::before {
  margin-right: 1rem;
  border: 2px white solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
  color: white;
}

.social .fab:hover::before {
  background: #ffbf00;
}

/* Adding media queries */
@media only screen and (max-width: 800px) {
}
